* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-fade-1: linear-gradient(to bottom right, #245755, #728c80);
}

#header-bg-text-container {
  position: relative;
  font-size: 0;
}

.slide {
    background-image: url("./img/knife5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    border: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s linear;
}

.showMe {
  opacity: 1;
}


#header-logo-img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg) brightness(104%) contrast(104%);
  width: 100px;
  height: 100px;
  top: 0.5vw;
  left: 0.5vw;
  position: absolute;
}


.header-text {
  position: absolute;
  bottom: 2vw;
  left: 2vw;
}

#header-text-top {
  margin-left: 4px;
  color: white;
  color: rgba(255,255,255,1);
  font-family: 'PT Serif', serif;
  font-size: calc(16px + 1.5vw);
  text-transform: none;
  letter-spacing: 0.1vw;
}

#header-text-bottom {
  color: white;
  color: rgba(255,255,255,1);
  font-family: 'PT Serif', serif;
  font-size: calc(40px + 2vw);
  text-transform: uppercase;
  letter-spacing: 0.4vw;
}

article {
  margin-top: 100vh;
  padding: 3vw;
  font-family: "Open Sans", sans-serif;
}

#opener {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.opener-item {
  background-color: #333;
  color: #FFFFFF;
  padding: 30px 40px;
  margin: 10px;
  border-radius: 4px;
}

@media screen and (max-width:900px) {
  #opener {
    flex-wrap: wrap;
  }
}

#intro-header {
  font-weight: bold;
  font-size: calc(32px + 2vw);
}

#intro-body {
  margin-top: 30px;
  font-size: calc(20px + 0.5vw);
}

#intro-img {
  margin-top: 30px;
  background-image: url("./img/knife2.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 4px;
}

#intro-img-label {
  background-color: rgba(51, 51, 51, 0.7);
  padding: 5px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#form-container {
  font-weight: bold;
}

#form-header {
  font-size: calc(12px + 2vw);
}

form {
  margin-top: 20px;
}

input[type="text"], textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#customer-testimonies {
  margin-top: 50px;
}

.section-header {
  color: #333333;
  font-size: calc(24px + 1vw);
  font-weight: bold;
}

#testimonies-header {
  margin-left: 20px;
}

#testimony-container {
  display: flex;
  justify-content: center;
  padding: 1vw;
}

.testimony-item {
  /*height: calc(10vw + 12px + 0.5vw + 20px + 60px);*/
  background-color:#333;
  color: #FFFFFF;
  margin: 1vw;
  padding: 30px;
  border-radius: 4px;
}

#customer-profile {
  flex-shrink: 0;
  flex-grow: 0;
}

#customer-img {
  background-image: url("./img/jackson.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  margin: auto auto;
}

#customer-name {
  line-height: 1;
  font-size: calc(12px + 0.5vw);
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

#customer-name hr {
  width: 50%;
  margin: auto auto;
}

#testimony-body {
  padding-top: calc(14px + 1vw);
  flex-grow: 1;
  overflow: scroll;
  font-size: calc(14px + 0.75vw);
}

#craft-desc {
  margin-top: 50px;
  padding: 20px;
}

#craft-header-bottom {
  font-size: calc(18px + 0.5vw);
}

.craft-stage {
  margin-top: 20px;
  background-color: #333;
  width: 100%;
  height: 300px;
  border-radius: 4px;
}
