/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@300;400;500;600;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {

  /* box sizing */
  box-sizing: border-box;

  /* margin and padding reset */
  margin: 0;
  padding: 0;

  /* universal font styles */
  font-family: serif;
  /* font-family: 'Playfair Display', serif; */
  color: var(--darkgrey);
  text-decoration: none;
  list-style: none;
  
}

:root {

  /* neutral palette */
  --white: white;
  --lightgrey: hsla(0, 0%, 90%, 1);
  --mediumgrey: hsla(0, 0%, 80%, 1);
  --mediumdarkgrey: hsla(0, 0%, 45%, 1);
  --darkgrey: hsla(0,0%,9%, 1);

  /* lower opacity palette */
  --darkgrey-01: hsla(0,0%,9%, 0.1);
  --darkgrey-02: hsla(0,0%,9%, 0.2);
  --darkgrey-03: hsla(0,0%,9%, 0.3);
  --darkgrey-04: hsla(0,0%,9%, 0.4);
  --darkgrey-05: hsla(0,0%,9%, 0.5);
  --darkgrey-06: hsla(0,0%,9%, 0.6);
  --darkgrey-07: hsla(0,0%,9%, 0.7);
  --darkgrey-08: hsla(0,0%,9%, 0.8);
  --darkgrey-09: hsla(0,0%,9%, 0.9);

  
  /* highlight palette */
  --highlight: hsla(51, 100%, 50%, 1);

  /*filter palette */
  --filter-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
  --filter-black: invert(0%) sepia(82%) saturate(5293%) hue-rotate(76deg) brightness(62%) contrast(82%);
  
  /* sizing styles */
  --page-padding: 7.5rem;

}

html {
  scroll-behavior: smooth;
}

.section {
  overflow: hidden;

  position: relative;

  min-height: calc(100vh - 7.5em);
}

.section:not(#home) {
  padding: 7.5rem;
}

.hidden {
  display: none;
}

span {
  position: relative;
}

span::before {
  z-index: -1;

  position: absolute;
  bottom: 14%;
  left: -1%;

  height: 20%;
  width: 101.5%;

  background-color: var(--highlight);

  content: "";
}