/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@300;400;500;600;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {

  /* box sizing */
  box-sizing: border-box;

  /* margin and padding reset */
  margin: 0;
  padding: 0;

  /* universal font styles */
  font-family: serif;
  /* font-family: 'Playfair Display', serif; */
  color: var(--darkgrey);
  text-decoration: none;
  list-style: none;
  
}

:root {

  /* neutral palette */
  --white: white;
  --lightgrey: hsla(252, 10%, 95%, 1);
  --mediumgrey: hsla(252, 10%, 80%, 1);
  --mediumdarkgrey: hsla(252, 10%, 45%, 1);
  --darkgrey: hsla(252, 10%, 30%, 1);
  
  /* color palette */ 
  --color1: hsla(240, 100%, 71%, 1);

  /*filter palette */
  --filter-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
  --filter-darkgrey: invert(26%) sepia(16%) saturate(589%) hue-rotate(208deg) brightness(89%) contrast(85%);

  /* sizing styles */
  --page-padding: 7.5rem;

}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}